@import './vendor/normalize.css';
@font-face {
  font-family: "Roboto";
  src: url("./vendor/fonts/Roboto-Bold.ttf") format("woff"), url("./vendor/fonts/Roboto-Bold.ttf") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("./vendor/fonts/Roboto-Regular.ttf") format("woff"), url("./vendor/fonts/Roboto-Regular.ttf") format("woff2");
  font-weight: 400;
}
.slider {
  max-width: 1160px;
  margin: 0 auto;
}

.carousel {
  overflow: hidden;
}
.carousel__header {
  display: flex;
  justify-content: space-between;
  margin: 120px 0 40px 0;
}
.carousel__header-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #527CCD;
  margin: 0;
  padding: 0;
}
.carousel__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel__progress-bar {
  display: flex;
}
.carousel__progress {
  width: 60px;
  height: 1px;
  background-color: #C8D9FB;
}
.carousel__progress_active {
  background-color: #527CCD;
}
.carousel__buttons {
  display: flex;
  justify-content: space-between;
}
.carousel__button {
  width: 60px;
  height: 60px;
  border: 1px solid #C8D9FB;
  background-color: #fff;
  margin: 0 40px 0 40px;
  background-image: url("./images/LeftButton.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.carousel__button:last-of-type {
  background-image: url("./images/RightButton.svg");
  margin: 0;
}
.carousel__button:hover {
  opacity: 0.7;
  background-color: #CDF;
}
.carousel__item {
  border: 1px solid #527CCD;
  margin: 0 40px 0 0;
  box-sizing: border-box;
  position: relative;
}
.carousel__item:nth-of-type(4n) {
  margin: 0;
}
.carousel__image {
  width: 220px;
  height: 160px;
  margin: 20px 20px 10px 20px;
  padding: 0;
}
.carousel__date {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #527CCD;
  margin: 0 0 0 20px;
  padding: 0;
  opacity: 0.6;
}
.carousel__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #527CCD;
  margin: 10px 20px;
  padding: 0;
  max-width: 220px;
  white-space: normal;
  word-wrap: break-word;
}
.carousel__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #527CCD;
  margin: 0 20px 22px 20px;
  padding: 0;
  max-width: 220px;
  white-space: normal;
  word-wrap: break-word;
}
.carousel__inner {
  white-space: nowrap;
  transition: transform 1s;
  display: flex;
}

@media screen and (max-width: 1159px) {
  .carousel__header {
    margin: 100px 30px 40px 30px;
  }
  .carousel__item {
    margin: 0 calc((100vw - 60px - 720px) / 2) 0 0;
  }
  .carousel__item:nth-of-type(4n) {
    margin: 0 calc((100vw - 60px - 720px) / 2) 0 0;
  }
  .carousel__item:nth-of-type(3n) {
    margin: 0 30px 0 0;
  }
  .carousel__image {
    width: 200px;
    height: 150px;
  }
  .carousel__title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #527CCD;
    max-width: 200px;
  }
  .carousel__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #527CCD;
    max-width: 200px;
  }
  .carousel__inner {
    margin: 0 30px;
  }
}
@media screen and (max-width: 1024px) {
  .carousel__header {
    margin: 60px 20px 40px 20px;
  }
  .carousel__header-title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #527CCD;
  }
  .carousel__progress {
    width: 45px;
  }
  .carousel__button {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 20px;
  }
  .carousel__item {
    margin: 0 calc((100vw - 40px - 720px) / 2) 0 0;
  }
  .carousel__item:nth-of-type(4n) {
    margin: 0 calc((100vw - 40px - 720px) / 2) 0 0;
  }
  .carousel__item:nth-of-type(3n) {
    margin: 0 20px 0 0;
  }
  .carousel__image {
    width: 200px;
    height: 160px;
  }
  .carousel__title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #527CCD;
    max-width: 200px;
  }
  .carousel__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #527CCD;
    max-width: 200px;
  }
  .carousel__inner {
    margin: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .carousel__header {
    margin: 20px;
    flex-direction: column;
    align-items: center;
  }
  .carousel__header-title {
    margin: 0 0 10px 0;
  }
  .carousel__menu {
    flex-direction: column;
  }
  .carousel__progress-bar {
    margin: 0 0 20px 0;
  }
  .carousel__progress {
    width: 25px;
  }
  .carousel__button {
    margin: 0 40px 0 0;
  }
  .carousel__item {
    margin: 0 calc(100vw - 40px - 560px) 0 0;
  }
  .carousel__item:nth-of-type(4n) {
    margin: 0 calc(100vw - 40px - 560px) 0 0;
  }
  .carousel__item:nth-of-type(3n) {
    margin: 0 calc(100vw - 40px - 560px) 0 0;
  }
  .carousel__item:nth-of-type(2n) {
    margin: 0 20px 0 0;
  }
  .carousel__image {
    width: 240px;
  }
  .carousel__date {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #527CCD;
  }
  .carousel__title {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #527CCD;
    max-width: 240px;
  }
  .carousel__text {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #527CCD;
    max-width: 240px;
  }
}
@media screen and (max-width: 610px) {
  .carousel__progress {
    width: 10px;
  }
  .carousel__item {
    margin: 0 calc((100vw - 280px) / 2) 0 calc((100vw - 40px - 280px) / 2);
  }
  .carousel__item:nth-of-type(4n) {
    margin: 0 calc((100vw - 280px) / 2) 0 calc((100vw - 40px - 280px) / 2);
  }
  .carousel__item:nth-of-type(3n) {
    margin: 0 calc((100vw - 280px) / 2) 0 calc((100vw - 40px - 280px) / 2);
  }
  .carousel__item:nth-of-type(2n) {
    margin: 0 calc((100vw - 280px) / 2) 0 calc((100vw - 40px - 280px) / 2);
  }
}

/*# sourceMappingURL=index.css.map */
